/****************************/
/*
/* Style for classic theme
/*
/****************************/
html, body {
    height: 100%;
}

html {
    font-size: 14px;
    font-family: Verdana, Arial, sans-serif;
}

body {
    font-size: 100%;
    color: #594F4F;
}

h1, h2, h3, h4, h5, h6 {font-weight: 700;}
h1 {font-size: 2em; margin: 14px 0; line-height: 1.2;}
h2 {font-size: 1.8em; margin-bottom: 14px; line-height: 1.2;}
h3 {font-size: 1.6em; margin-bottom: 14px; line-height: 1.2;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 1em;
}

a {
    color: #547980;
}

a:hover {
    color: #45ADA8;
}

input[type="text"], input[type="password"], textarea, select, div.CodeMirror {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(121, 169, 194, .5);
    font-size: 1em;
    line-height: 1.5;
    padding: 0.3em 0.7em 0.3em 0.7em;
    width: 100%;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(121, 169, 194, .175);
    -webkit-box-shadow: inset 0 1px 1px rgba(121, 169, 194, .175);
    -moz-box-shadow: inset 0 1px 1px rgba(121, 169, 194, .175);
    -o-box-shadow: inset 0 1px 1px rgba(121, 169, 194, .175);
}

input[type="text"], input[type="password"], select {
    height: 32px;
}

input:invalid {
    border: 1px solid red;
}

textarea {
    font-family: Verdana, Arial, sans-serif;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    border: 1px solid #8cbf26;
    box-shadow: inset 0 1px 1px rgba(121, 169, 194, .175), 0 0 8px rgba(140, 191, 38, .6);
    -webkit-box-shadow: inset 0 1px 1px rgba(121, 169, 194, .175), 0 0 8px rgba(140, 191, 38, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(121, 169, 194, .175), 0 0 8px rgba(140, 191, 38, .6);
    -o-box-shadow: inset 0 1px 1px rgba(121, 169, 194, .175), 0 0 8px rgba(140, 191, 38, .6);
}

label {
    margin-bottom: 0.3em;
    font-weight: 700;
    display: inline-block;
}

/*==========================
        Макет
==========================*/
.main {
    min-height: 100%;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.main-header {
    background-color: #547980;
    padding: 20px;
    box-sizing: border-box;
}

.main-section {
    width: 100%;
    padding-right: 280px;
    padding-left: 20px;
    box-sizing: border-box;
}

.main-aside {
    width: 240px;
    position: relative;
    margin-left: -280px;
    padding: 0 20px;
    vertical-align: top;
}

.main-footer {
    background-color: #547980;
    height: 100px;
    margin-top: -100px;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}

.main-footer-height {
    height: 100px;
}

.main-footer a {
    color: #fff;
    position: relative;
    bottom: 0;
}

.main-header, .main-footer {
    width: 100%;
}

.main-section, .main-aside {
    display: inline-block;
}

.main-header-mini .logo {

}

/*==========================
       Конец Макета
==========================*/


.button {
    display: inline-block;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0.4em 0.8em;
    line-height: 1.5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:active {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    -o-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.button-common {
    color: #000;
    background-color: transparent;
    border-color: rgba(121, 169, 194, .5);
}

.button-common:hover {
    background-color: rgba(121, 169, 194, .2);
    border-color: rgba(121, 169, 194, 1);
}

.button-classic {
    color: #fff;
    background-color: #79a9c2;
    border-color: #709ab3;
}

.button-classic:hover {
    color: #fff;
    background-color: #6995ae;
    border-color: #618ca6;
}

.button-big {
    padding: 0.6em 1em;
    font-size: 1.3em;
}

div.help-block {
    float: right;
    display: inline-block;
}

div.help-block {
    color: #b30019;
}

div.form-group {
    margin-bottom: 1em;
}

.content .pagination {
    list-style: none;
    margin: 2em 0;
}

.pagination>li {
    display: inline-block;
}

.pagination>.active>a, .pagination>.active>a:hover {
    background-color: rgba(0, 139, 203, 1);
    color: #fff;
    pointer-events: none;
}

.pagination>li>span, .pagination>li>a {
    padding: .3em .6em .4em;
    border: 1px solid rgba(0, 139, 203, .5);
    text-decoration: none;
    border-radius: 3px;
    background-color: #fff;
}

.pagination>li>span:hover, .pagination>li>a:hover {
    background-color: rgba(0, 139, 203, .2);
}

.pagination>li>a:hover {
    color: rgba(0, 139, 203, 1);
}

.pagination>.disabled>span:hover {
    background-color: #fff;
}

.pagination>.disabled>span {
    cursor: not-allowed;
}

/*::selection {background: #fff2a8;}
::-moz-selection {background: #fff2a8;}*/

::selection {background: #E5FCC2;}
::-moz-selection {background: #E5FCC2;}

.logo, .logo-footer {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    text-align: left;
    margin-left: 20px;
}

.logo>span {
    display: block;
    font-size: .5em;
    font-weight: normal;
    margin-left: 20px;
    margin-top: 10px;
}

.top-menu {
    text-align: right;
    margin: 20px auto 0;
}

.top-menu li {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-family: "Arial Narrow", Verdana, Arial, sans-serif;
}

.top-menu li a:hover {
    color: #E5FCC2;
    border-bottom: 1px solid #E5FCC2;
}

.top-menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.page {
    line-height: 1.5;
    text-align: left;
}

.content {

}

.content ol {
    list-style: decimal;
    margin-left: 2em;
}

.content ul {
    margin-left: 1em;
}

.content img {
    max-width: 100%;
    display: block;
    margin: 10px 15px 15px 0;
}

.portlet {
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0,0,0,.125);
    color: #fff;
}

.portlet ul {
    padding: 7px 0 10px;
}

.portlet li {
    padding: 3px 10px;
    /*border-bottom: 1px solid #ccc;*/
}

.portlet li:hover {
    background-color: #eee;
}

.portlet .aside-category a {
    display: block;
    width: 100%;
}

.portlet h4 {
    background-color: #547980;
    display: block;
    font-size: 1em;
    font-weight: normal;
    padding: 7px;
    text-align: center;
}

.portlet .aside-category {

}

ul.breadcrumb {
    display: block;
    list-style: none;
    font-size: 0.9em;
    margin-bottom: 14px;
}

ul.breadcrumb li {
    display: inline-block;
}

ul.breadcrumb > li + li::before {
    padding: 0 5px;
    content: "\203a";
}

.post {
    border-bottom: 1px dashed #aaa;
    margin-bottom: 40px;
    padding-bottom: 15px;
}

.post + .post {

}

.post-info {
    margin-bottom: 10px;
    color: #999;
}

/*======================
        Правый блок
======================*/
.main-aside {
    line-height: 1.5;
}

.main-aside ul {
    list-style: none;
}